<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header" />
<body>
	<div th:replace="common/header :: navbar" />
	
	<div class="container" >
		<div class="row">
			<form class="form-horizontal" th:action="@{/book/add}" method="post" enctype="multipart/form-data">
				<fieldset>
					<legend class="center-block">New Book Information
					<span style="font-size: small;">* is a required field.</span>
					</legend>
				  
				  <!-- Title -->
				  	<div class="form-group">
					    <label class="col-md-2 control-label" for="title">* Title</label>
					    <div class="col-md-8">
					    <input type="text" class="form-control" id="title" name="title"
								placeholder="Title" th:value="${book.title}" required="required" />
						<span class="help-block">Title of the book.</span>
						</div>
					</div>
					
					<!-- Author -->
					<div class="form-group">
					    <label class="col-md-2 control-label" for="author">* Author</label> 
					    <div class="col-md-8">
					    <input type="text" class="form-control" id="author" name="author"
								placeholder="Author" th:value="${book.author}" required="required" />
						<span class="help-block">Author of the book.</span>
						</div>
					</div>
					
					<!-- Publisher -->
					<div class="form-group">
					    <label class="col-md-2 control-label" for="publisher">* Publisher</label> 
					    <div class="col-md-8">
					    <input type="text" class="form-control" id="publisher" name="publisher"
								placeholder="Publisher" th:value="${book.publisher}" required="required" />
						<span class="help-block">Publisher of the book.</span>
						</div>
					</div>

					<!-- Publication Date -->
					<div class="form-group">
					    <label class="col-md-2 control-label" for="publicationDate">* Publication Date</label> 
					    <div class="col-md-8">
					    <input type="date" class="form-control" id="publicationDate" name="publicationDate"
								placeholder="Publication Date" th:value="${book.publicationDate}" required="required" />
						<span class="help-block">Publication Date of the book.</span>
						</div>
					</div>
					
					<!-- Language -->
					<div class="form-group">
					    <label class="col-md-2 control-label" for="language">Language</label>
					    <div class="col-md-8">
					    	<select th:value="${booklanguage}" id="language" name="language" class="form-control">
					    		<option value="english">English</option>
					    		<option value="hindi">Hindi</option>
					    		<option value="spanish">Spanish</option>
					    		<option value="german">German</option>
					    	</select>
					    </div>
					</div>
					
					
					<!-- Category -->
					<div class="form-group">
					    <label class="col-md-2 control-label" for="category">* Category</label>
					    <div class="col-md-8">
					    	<select th:value="${booklanguage}" id="category" name="category" class="form-control">
					    		<option value="" selected="selected" disabled="disabled">Select a category</option>
					    		<option value="programming" th:selected="(${book.category}=='programming')">Programming</option>
					    		<option value="novel" th:selected="(${book.category}=='novel')">Novel</option>
					    		<option value="literature" th:selected="(${book.category}=='literature')">Literature</option>
					    		<option value="science" th:selected="(${book.category}=='science')">Science</option>
					    	</select>
					    </div>
					</div>
					
					<!-- Pages -->
					<div class="form-group">
					    <label class="col-md-2 control-label" for="pageNumbers">* Pages</label>
					    <div class="col-md-8">
					    <input type="number" class="form-control" id="pageNumbers" name="numberOfPages"
								placeholder="Page Numbers" th:value="${book.numberOfPages}" required="required" />
						<span class="help-block">Number of pages of the book.</span>
						</div>
					</div>

					<!-- Format -->
					<div class="form-group">
					    <label class="col-md-2 control-label" for="format">Format</label>
					    <div class="col-md-8">
					    	<select th:value="${format}" id="format" name="format" class="form-control">
					    		<option value="paperback">PaperBack</option>
					    		<option value="hardcover">Hardcover</option>
					    	</select>
					    </div>
					</div>
					
					<!-- ISBN -->
					<div class="form-group">
					    <label class="col-md-2 control-label" for="isbn">* ISBN</label>
					    <div class="col-md-8">
					    <input type="text" class="form-control" id="isbn" name="isbn"
								placeholder="ISBN" th:value="${book.isbn}" required="required" />
						<span class="help-block">ISBN of the book.</span>
						</div>
					</div>
					
					
					<!-- Shipping Weight -->
					<div class="form-group">
					    <label for="shippingWeight" class="col-md-2 control-label">Shipping Weight</label>
					    <div class="col-md-8">
					    <div class="input-group">
						    <input th:value="${book.shippingWeight}"
						    	type="number" class="form-control" id="shippingWeight" name="shippingWeight" step="0.01"
									placeholder="Shipping Weight" required="required" />
							<span class="input-group-addon">Onces</span>
						</div>							
						<span class="help-block">Shipping weight of the book.</span>
						</div>
					</div>
					
					<!-- List price -->
					<div class="form-group">
					    <label for="listPrice" class="col-md-2 control-label">List price</label>
					    <div class="col-md-8">
					    <div class="input-group">
					    <span class="input-group-addon">INR </span>
						    <input th:value="${book.listPrice}"
						    	type="number" class="form-control" id="listPrice" name="listPrice" step="0.01"
									placeholder="List Price" required="required" />
						</div>							
						<span class="help-block">List Price of the book.</span>
						</div>
					</div>
					
					<!-- Our price -->
					<div class="form-group">
					    <label for="ourPrice" class="col-md-2 control-label">Our price</label>
					    <div class="col-md-8">
					    <div class="input-group">
					    <span class="input-group-addon">INR </span>
						    <input th:value="${book.listPrice}"
						    	type="number" class="form-control" id="ourPrice" name="ourPrice" step="0.01"
									placeholder="ourPrice" required="required" />
						</div>							
						<span class="help-block">List Price of the book.</span>
						</div>
					</div>
					
					
					<!-- Numbers in Stock -->
					<div class="form-group">
					    <label class="col-md-2 control-label" for="inStockNumber">Numbers in Stock</label>
					    <div class="col-md-8">
						    <input th:value="${book.inStockNumber}"
						    	type="number" class="form-control" id="inStockNumber" name="inStockNumber"
									placeholder="inStockNumber" required="required" />
						<span class="help-block">Numbers in stock.</span>
						</div>
					</div>
					
					<!-- Status -->
					<div class="form-group">
					    <label for="status" class="col-md-2 control-label">Status</label>
					    <div class="col-md-8">
						    <label><input value="true" type="radio" class="form-control" name="active" checked="checked" /> Active </label>
						    <label><input value="false" type="radio" class="form-control" name="active" /> Inactive </label>
						<span class="help-block">Whether the book is active or inactive.</span>
						</div>
					</div>
					
					<!-- Description -->
					<div class="form-group">
					    <label class="col-md-2 control-label" for="description">* Description</label> 
					    <div class="col-md-8">
					    <textarea class="form-control" id="description" name="description" rows="5"
								placeholder="Description" th:value="${book.description}" required="required" />
						<span class="help-block">Description of the book.</span>
						</div>
					</div>

					<!-- upload image -->
					<div class="form-group">
						<label for="bookImage" class="col-md-2 control-label" >Upload book image</label>
						<div class="col-md-8">
							<input id="bookImage" type="file" name="bookImage"
								th:value="${book.bookImage}" />
						</div>
					</div>
					 
					 <!-- Buttons -->
					<div class="form-group">
						<div class="col-md-2"></div>
						<div class="col-md-8">
							<button type="submit" class="btn btn-success">Add Book</button>
							<a class="btn btn-danger" th:href="@{/}">Cancel</a>
						</div>
					</div>
				 </fieldset>
			</form>
		</div>
	</div>
	<div th:replace="common/header :: body-bottom-scripts" />

</body>
</html>
